- name: Create Domain
  when: inventory_hostname_short == "dc1"
  microsoft.ad.domain:
    reboot: true
    domain_mode: WinThreshold
    forest_mode: WinThreshold
    install_dns: true
    create_dns_delegation: false
    dns_domain_name: "{{ domain_controller_dns_domain_name }}"
    safe_mode_password: "{{ ansible_password }}"

- name: Promote to Domain Controller
  when: inventory_hostname_short != "dc1"
  microsoft.ad.domain_controller:
    reboot: true
    install_dns: true
    dns_domain_name: "{{ domain_controller_dns_domain_name }}"
    safe_mode_password: "{{ ansible_password }}"
    domain_admin_user: "{{ ansible_user }}@{{ domain_member_dns_domain_name }}"
    domain_admin_password: "{{ ansible_password }}"
    state: domain_controller

- name: Create Domain Users
  when: inventory_hostname_short == "dc1"
  block:
    - name: Set the current ansible user domain groups
      microsoft.ad.user:
        identity: "{{ ansible_user }}"
        groups:
          set:
            - Enterprise Admins
            - Domain Admins
            - Domain Users

    - name: Create the alice domain user
      microsoft.ad.user:
        identity: alice
        password: "{{ ansible_password }}"
        update_password: on_create
        groups:
          set:
            - Domain Admins
            - Domain Users

    - name: Create the bob domain user
      microsoft.ad.user:
        identity: bob
        password: "{{ ansible_password }}"
        update_password: on_create
        groups:
          set:
            - Domain Users

- name: Create share
  vars:
    share_name: Share
    share_path: C:\Share
  block:
    - name: Create share directory
      ansible.windows.win_file:
        path: "{{ share_path }}"
        state: directory

    - name: Remove inheritance
      ansible.windows.win_acl_inheritance:
        path: "{{ share_path }}"
        state: absent

    - name: Grant Full Control to Administrators
      ansible.windows.win_acl:
        path: "{{ share_path }}"
        type: allow
        user: Administrators
        rights: FullControl
        inherit: ContainerInherit,ObjectInherit

    - name: Grant Read to Authenticated Users
      ansible.windows.win_acl:
        path: "{{ share_path }}"
        type: allow
        user: Authenticated Users
        rights: Read
        inherit: ContainerInherit,ObjectInherit

    - name: Create share
      ansible.windows.win_share:
        name: "{{ share_name }}"
        path: "{{ share_path }}"
        full: Administrators
        read: Authenticated Users
